body{
    background-color: #cedd9b;
    width: 100%;
    height: 100%;
}
header{
    background-color: #cedd9b;
    display: flex;
    justify-content: center;
}
.logo-Tofit{
    width: 10rem;
}
.logo-carrinho{
    width: 5rem;
    position: relative;
    top: 2rem;
    left: 35rem;
    
}

.box{
    background-color: white;
    display: flex;
    width: 12rem;
}
footer{
    background-color: #363636;
}
.produtos{
    display: flex;
    justify-content: center;
}
.produtos li{   
    background-color: white;
    width: 100rem;
    height: 15rem;
    margin-right: 2rem;
    list-style: none;
    border-radius: 1rem;
}
li img{
    width: 9rem;
    position: relative;
    left: 18rem;
    bottom: 3.5rem;
    border-radius: 0.4rem;
}
li h1{ width: 16rem;
    font-size:medium;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1rem;
    margin-left: 0.5rem;
}
li h3{
    color: #5e5e5e;
    font-size: small;
    width: 17rem;
    margin-left: 0.5rem;
    position: relative;
    bottom: 10rem;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li h2{
    color: #363636;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 11rem;
    margin-left: 0.5rem;
}
li button{
    position: relative;
    bottom: 10.4rem;
    margin-left: 12rem;
    width: 6.5rem;
    color: white;
    background-color: #879752;
    border: none;
    border-radius: 5rem;
    height: 3rem;
}
li button:hover{

    background-color: rgb(169, 190, 97);
    cursor: pointer;
}
