body{
    background-color: #cedd9b;
    width: 100%;
    height: 100%;
    
  overflow-x: hidden;
  overflow-y: auto;
}


header{
    background-color: oklch(87.033% 0.08777 118.704);
    display: flex;
    justify-content: center;
}
.logo-Tofit{
    width: 10rem;
    margin-top: 4rem;
}

a{
    position: relative;
    bottom: 50px;
    width: 1px;
    height: 1px;
}

.box{
    background-color: white;
    display: flex;
    width: 12rem;
}
footer{
    background-color: #363636;
}
.produtos{
    display: flex;
    justify-content: center;
    
}
.produtos li{   
    margin-top:1.5rem;
    background-color: white;
    width: 100%;
    height: 15rem;
    margin-right: 2rem;
    list-style: none;
    border-radius: 1rem;
}

li img{
    width: 9rem;
    border-radius: 0.4rem;
    position: relative;
    left: 21rem;
    bottom: 4rem;
  
}
li h1{ width: 16rem;
    font-size:medium;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1rem;
    margin-left: 0.5rem;
}
li h3{
    color: #5e5e5e;
    font-size: small;
    width: 17rem;
    margin-left: 0.5rem;
    position: relative;
    bottom: 10rem;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li h2{
    color: #363636;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 11rem;
    margin-left: 0.5rem;
}
li button{
    
    bottom: 10.4rem;
    margin-left: 12rem;
    width: 6.5rem;
    color: white;
    background-color: #879752;
    border: none;
    border-radius: 5rem;
    height: 3rem;
}
li button:hover{

    background-color: rgb(169, 190, 97);
    cursor: pointer;
}
.container-cliente {
  border: 2px solid #566d03;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  background: #f6f6f6;
  width: 50rem;
}
.cliente{
  position: relative;
  bottom: 40px;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#Txt-nome{
display: flex;
justify-content: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: larger;

}
#clienteNome{
  display: flex;
  justify-content: center;
  height: 2rem;
  
}
#clieteNome input{
  width: 40rem;
}
.btn-excluir{
    margin-left: 45rem;
    background-color: #879752;
    border: none;
    border-radius: 5rem;
    height: 3rem;
    width: 5rem;
}
.container-cliente h2 {
  margin: 0 0 8px 0;
  font-size: 18px;
}

.lista-produtos {
  margin: 0;
  padding-left: 18px;
}
.volta{
    position: relative;
    top: 3rem;
}

@media (min-width:420px){
 .produtos{
  display: flex;
  flex-direction: column;
  position: relative;
  right: 1.5rem;
 }
 .produtos h3{
  width: 11rem;
  font-size: xx-small;
  margin-top: 3.5rem;

 }
 .produtos button{
margin-left: 12rem;

width: 100%;
 }
 .produtos img{
  width: 12rem;
 position: relative;
left: 18rem;
bottom: 3rem;
 }

}

@media (min-width:350px){
  .produtos{
  display: flex;
  flex-direction: column;
  position: relative;
  right: 1.5rem;
 }
 .produtos h3{
  width: 11rem;
  font-size: xx-small;
  margin-top: 3.5rem;

 }
 .produtos button{
margin-left: 12rem;

width: 100%;
 }
 .produtos img{
  width: 6rem;
 position: relative;
left: 18rem;
bottom: 3rem;
 }
}